<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/1.6.8/css/uswds.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/1.6.9/js/uswds.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <%= partial "main-nav" %>
  <div class="styleguide-secondary-nav sticky">
    <ul>
      <li>
        <% link_to '/index.html' do %>
          <span>UI Components</span>
        <% end %>
      </li>
      <li>
        <% link_to '/design-principals-intro.html' do %>
          <span>Design Principles</span>
        <% end %>
      </li>
      <li>
        <% link_to '/example-form.html', :class => "usa-current" do %>
          <span>Example form</span>
        <% end %>
      </li>
    </ul>
  </div>

  <body>
    <%= yield %>
  </body>
</html>