---
title: eApp Design System | UI Components
---
<section id="styleguide-sidenav" class="sidenav">
  <nav>
    <ul class="usa-sidenav-list">
      <li>
        <a href="#intro" class="usa-current">Introduction</a>
      </li>
      <li>
        <a href="#typography">Typography</a>
      </li>
      <li>
        <a href="#alert-blocks">Alert blocks</a>
      </li>
      <li>
        <a href="#help-block">Help block</a>
      </li>
      <li>
        <a href="#input-blocks">Input blocks</a>
      </li>
      <li>
        <a href="#checkbox-radio-blocks">Checkbox/radio button blocks</a>
      </li>
      <li>
        <a href="#phone-number-block">Phone number block</a>
      </li>
      <li>
        <a href="#date-blocks">Date blocks</a>
      </li>
      <li>
        <a href="#address-block">Address block</a>
      </li>
      <li>
        <a href="#accordion-block">Accordion block</a>
      </li>
      <li>
        <a href="#back-next-block">Back/next block</a>
      </li>
      <li>
        <a href="#sidenav-block">Sidenav block</a>
      </li>
    </ul>
  </nav>
</section>
<section class="main-content usa-content">
  <%= partial "intro" %>
  <%= partial "typography" %>
  <%= partial "alert-blocks" %>
  <%= partial "help-block" %>
  <%= partial "input-blocks" %>
  <%= partial "checkbox-radio-blocks" %>
  <%= partial "phone-number-block" %>
  <%= partial "date-blocks" %>
  <%= partial "address-block" %>
  <%= partial "accordion-block" %>
  <%= partial "back-next-block" %>
  <%= partial "sidenav-block" %>
  <%= partial "timeline-block" %>
</section>
